@import url('//fonts.googleapis.com/css?family=Righteous');
@import url('//fonts.googleapis.com/css?family=Sarala');

@media only screen and (max-width: 768px){

    #nav-header-item a:hover{

        border-bottom: none !important;
    
    }

    #nav-item-active{

        border-bottom: none !important;
    
    }

    #login a:hover{

        border-bottom: none !important;
    
    }

    #usuario a:hover{

        border-bottom: none !important;
    
    }

}

body {

    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);

}

main {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    width: 100%;
    
}

#navbar {

    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);

}

#logo {

    font-family: Righteous;
    font-size: 30px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;

}

#nav-header-item {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;

}

#nav-header-item a:hover{

    border-bottom: 2px solid white;

}

#nav-item-active{

	border-bottom: 2px solid white;

}

#login {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 0.5px;

}

#usuario {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 0.5px;

}

#usuario a:hover{

    border-bottom: 2px solid white;

}

#login a:hover{

    border-bottom: 2px solid white;

}

#cadastro {

    margin-top: 1px;
    margin-left: 6px;
    margin-right: 2px;

}

main {
    
}

/*Barra de pesquisa*/
.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee
}

::placeholder {
    color: #eee;
    opacity: 1
}

.search-2 {
    position: relative;
    width: 100%
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px
}

@media (max-width:800px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #eee
    }

    .search-2 i {
        left: 4px
    }

    .search-2 input {
        padding-left: 34px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}