@import url('//fonts.googleapis.com/css?family=Righteous');
@import url('//fonts.googleapis.com/css?family=Sarala');

@media only screen and (max-width: 768px){

    #nav-header-item a:hover{

        border-bottom: none !important;
    
    }

    #nav-item-active{

        border-bottom: none !important;
    
    }

    #login a:hover{

        border-bottom: none !important;
    
    }

    #usuario a:hover{

        border-bottom: none !important;
    
    }

}

body {

    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);

}

main {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    width: 100%;
    
}

#navbar {

    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);

}

#logo {

    font-family: Righteous;
    font-size: 30px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;

}

#nav-header-item {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;

}

#nav-header-item a:hover{

    border-bottom: 2px solid white;

}

#nav-item-active{

	border-bottom: 2px solid white;

}

#login {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 0.5px;

}

#usuario {

    font-family: Sarala;
    font-size: 15px;
    color: white;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 0.5px;

}

#usuario a:hover{

    border-bottom: 2px solid white;

}

#login a:hover{

    border-bottom: 2px solid white;

}
#cadastro {

    margin-top: 1px;
    margin-left: 6px;
    margin-right: 2px;

}

/*Motor de busca*/
#title {
    margin-top: 77px;
    margin-bottom: 77px;
}

/* Linha 1 */
hr.search_line {
    width: 100%;
    height: 0px;
    top: 318px;
    border: 0.4px solid #FFF2E7;

    margin-bottom: 86px;
}
/* Busque por uma notícia! */
#title .title_search {
    font-family: 'Righteous';
    font-style: normal;
    text-align: center;
    background: linear-gradient(90deg, #D5D4D0 0%, #D5D4D0 1%, #EEEEEC 31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;

    text-shadow: 9px 4px 4px rgba(7, 7, 7, 0.25);
}

/* barra que pesquisa motor de busca*/
.search_area {
    margin-left: 15%;
    align-items: center;

}
.input_search {
    width: 90%;
    max-width: 750px;
    min-width: 350px;
    height: 40px;
    border: none;
    background: #FFFFFF;
    
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.button_search{
    height: 40px;

    background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
    border-radius: 10px;
    border: none;
}
.button{
    display: inline-block;
    max-width: 100%;
    padding-top: 15px;
    justify-items: center;
    align-content: center;
    align-items: center;
}
